*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    margin-right: 120px;
    color: #FFFFFF;
    cursor: pointer; 
   
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
nav{
    width: 100%;
    max-width: 1600px;
    /* border: 1px solid red;  */
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 16px 32px;
   
}
.logo {
    margin-left: 120px;
}
nav .menu{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 32px;
    list-style: none;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;

}

