*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    /* margin-right: 120px; */
    color: #FFFFFF;
    cursor: pointer; 
   
}
.btn:hover {
    background-color: #28A75A; 
    transform: scale(1.05);    
}
header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
nav{
    width: 100%;
    max-width: 1600px;
    /* border: 1px solid red;   */
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 16px 32px;
   
}
.logo {
    margin-left: 120px;
}
nav .menu{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 32px;
    list-style: none;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;

}
#banner{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 70px 134px;
    background-image: url(./assets/hero-bg.png);
    margin: 0 auto;
    max-width: 1600px;
}
.badge{
    display: inline-block;
    background: #ffffff;
    color: #30B868;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 24px;
}

#banner .banner-content{
    text-align: center;
    
}
#banner .banner-content h1{
    color: #FFFFFF;
    font-size: 72px;
}
#banner .banner-content h1 span{
    color: #30B868;
    font-size: 72px;
    margin-bottom: 16px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.banner-buttons{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 8px;
    
    
}
.banner-buttons .secondary{
    background: transparent;
    border: 1px solid #ffffff;
}
#notes{
    padding-top: 120px;
}
#notes .notes-container{
    max-width: 1360px;
    margin: 0 auto;
}
.notes-heading{
    text-align: center;
     margin-bottom: 44px;
}
.notes-heading h2{
    font-size: 48px;
    color:#001931 ;
    margin-bottom: 16px;
}
.notes-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
.notes-box{
    display: flex;
    gap: 24px;
    
}
.notes-card{
    background: #FFFFFF;
    padding: 32px 24px;
    border-radius: 8px;
    /* border: 1px solid red; */
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  
}
.note-card:hover {
   transform: scale(1.05); 
}
.icon-box{
    width: 56px;
    height: 56px;
    background:#F95555 ;
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}
.notes-card h3{
    font-size: 28px;
    color: #001931;
    margin-bottom: 14px;

}
.notes-card p{
    font-size: 15px;
    color: #627382;
    line-height: 20px;
}

#second-brain{
    background: #FFFFFF;
    padding: 120px 32px;
}
.second-brain-container{
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    padding: 64px;
    align-items: center;
    gap: 64px;
}
.second-brain-img{
    width: 100%;
    display: block;
}
.section-tag{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    margin-bottom: 16px;
    display: inline-block;
}
.second-brain-content h2{
    font-size: 48px;
    color: #001931;
    line-height: auto;
    margin-bottom: 24px;
}
.second-brain-content p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 24px;
    
}
.feautures-item{
    list-style-type: none;
}
.feautures-item li{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
}